/* versi android */


/* slick */
/* jumbotron */

/* ak jmb */
/* akhir vrsi android */
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.melayang:hover {
  box-shadow: 0 8px 16px 0 rgba(24, 29, 48, 0.3);
}
/* hero */
.jumbotron {
  height: 630px;
  
}
.jmb1 {
  background-image: url(../foto/ft22.jpg);
  background-size: cover;
  height: 650px;
  position: relative; 
  background-attachment: fixed;
}
.jmb1::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3),#ffffff );
  position: absolute;
  bottom: 0;
}

.containergb {
  position: relative;
  z-index: 100;
}

/* produk */
.jmb2 {
  background-image: url(../foto/ft11.jpeg);
  background-size: cover;
  height: 420px;
  position: relative; 
  background-attachment: fixed;
}
.jmb2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6),#ffffff );
  position: absolute;
  bottom: 0;
}
.containergb {
  position: relative;
  z-index: 100;
}
.garis_verikal{
  border-left: 1px black solid;
  height: 170px;
  width: 0px;
  }

.info1 {
  box-shadow: 0 3px 20px rgba(0, 34, 49, 0.3);
  background-color: white;
  border-radius: 12px;
  margin-top: -100px;
  padding: 30px;
}
.info1 img {
  width: 150px;
  height: 155px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.info1 a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  color: black;
}
.info1 p {
  font-size: 14px;
  color: #acacac;
  margin-top: -100;
  font-weight: 250;
}

/* kategori */
.product {
  height: 150px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.product:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to top, #1f1f1f, rgba(0, 0, 0, 0));
    /* #919191 */
}

.product-content {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  /* background-color: red; */
}
.komponen-produk {
    margin-bottom: 20px;
  }
  .foto-produk {
    width: 100%;
    height: 150px;
    border-radius:5px;
    background-size: cover;
  }

  .foto-produk:hover {
    transform: scale(1.1);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }

  .text-produk {
    font-size: 18px;
    margin-top: 12px;
    color: black;
  }

  .text-produk1 {
    font-weight: 700;
    font-size: 16px;
    color: black;
  }

  .komponen-produk:hover {
    text-decoration: none;
  }


  /* detail kategori */
/* kategori */
.produkkategori {
  height: 150px;
  width: 260px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.produkkategori:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to top, #919191, rgba(0, 0, 0, 0));
}

.produkkategori-content {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}


.judul{
  color: #242231; 
  font-size: 42px; 
  font-weight: 500;
}
.judul2{
  color: #242231; 
}
.jmb1 .btn-primari{
  background-color: #6C5ECF; 
  color: rgb(255, 255, 255);
}

.futer p{
  font-size: 15px;
}
.judul10{
  font-size: 22px; 
  color: #242231; 
  font-weight: 700;
}

.ukuran-font{
  color: #242231; 
  font-size: 45px; 
  /* font-weight: ; */
}




/* responsi */
@media screen and (max-width: 800px)  { 

  .jmb1 {
    background-image: url(../foto/ft19.jpg);
    background-size: cover;
    height: 620px;
  }
  .judul{
    margin-top: 200px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }
  .judul2{
    text-align: center;
  }
  .jmb1 .btn-primari{
    background-color: #6C5ECF; 
    color: rgb(255, 255, 255);
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .futer p{
    font-size: 15px;
  }
  .jmb2 {
    background-image: url(../foto/ft18.jpg);
    background-size: cover;
    height: 400px;
    position: relative; 
    background-attachment: fixed;
  }
  .judul10{
    font-size: 20px; 
    color: #242231; 
    font-weight: 600;
  }
  .product-content {
   font-weight: 100;
   font-size: 15px;
    /* background-color: red; */
  }
  .product:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to top, #c9c9c9, rgba(0, 0, 0, 0.1));
    /* #919191 */
}

}
@media screen and (max-width: 500px)  { 
  .product-content {
    font-weight: 100;
    font-size: 12px;
     /* background-color: red; */
   }
   .foto-produk {
    width: 100%;
    height: 110px;
    border-radius:5px;
    background-size: cover;
  }
  .product {
    height: 100px;
    width: 104%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .text-produk {
    font-size: 15px;
    margin-top: 12px;
    color: black;
  }

  .text-produk1 {
    font-weight: 700;
    font-size: 14px;
    color: black;
  }
  .bungkus-ukuran-font{
    padding: 20px;
  }
  .ukuran-font{
    /* padding: 20px; */
    color: #242231; 
    font-size: 28px; 
    /* font-weight: ; */
  }
  .ukuran-font2{
    color: #242231; 
    /* font-size: 45px;  */
    /* font-weight: ; */
  }


}
